<div class="container">
    <div class="formInput">
        <mat-form-field class="example-full-width">
            <mat-label>Country code</mat-label>
            <input matInput 
            placeholder="Country code"
            [(ngModel)]="countryCode"
            (keyup.enter)="getInfo()">
          </mat-form-field>
          <button mat-raised-button (click)="getInfo()">Get country info</button>
    </div>

    @if (countryData && countryData.name) {
    <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"
                [ngStyle]="{'background-image': 'url(' + countryFlag + ')'}">
            </div>
            <mat-card-title>{{countryData.emoji}}</mat-card-title>
            <mat-card-subtitle>{{countryData.name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://via.assets.so/img.jpg?w=400&h=150&tc=blue&bg=#cecece" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>Capital: {{countryData.capital}}</p>
            <P>Languages:</P>
            @for (item of countryData.languages; track $index) {
            <p>{{item.code}} - {{item.name}}</p>
            }          
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
        </mat-card>
    }
</div>